.ray-unlisted {
	position: relative;
}

/* This hack isn't required from WP 5.8+ */
body.version-5-5 .ray-unlisted input[type="checkbox"],
body.version-5-6 .ray-unlisted input[type="checkbox"],
body.version-5-7 .ray-unlisted input[type="checkbox"] {
	position: absolute;
	top: 3px;
	right: -12px;
}